spring.datasource.url=jdbc:mysql://localhost:3306/claripath
spring.datasource.username=root
spring.datasource.password=YOUR_MYSQL_PASSWORD_HERE
spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect
server.port=8080
jwt.secret=claripath-super-secret-jwt-key-2026